.dropdown {
    position: relative;
}
.dropdown:hover .dropdown__menu{
    opacity: 0.8;
}

.dropdown__menu {
    position: absolute;
    background: #EDEDED;
    padding: 13px 17px 15px;
border-radius: 5px;
width: 156px;
height: 69px;
top: 160%;
right: 0;
opacity: 0;
transition: .3s;
}
.dropdown__menu::before{
    content: "";
    position: absolute;
    display: block;
    border: 10px solid transparent;
    width: 0;
    height: 0;
    border-bottom-color: #EDEDED;
    border-top-width: 0;
    bottom: 100%;
    left: 63%;
}

.dropdown__menu::after{
    content: "";
    position: absolute;
    display:block;
    height: 10px;
    left: 0;
    right: 0;
    bottom: 100%;
}

.dropdown__item {
}
.dropdown__elem {
    color: #1E1F20;
font-size: 13px;
font-weight: 600;
line-height: 21px;
display: flex;
justify-content: flex-start;
}
.dropdown__elem--bold{
    font-weight: 700;
}